{
    "extends": "eslint:recommended",
    "parserOptions": {
        "parserOptions": { "ecmaVersion": 6 },
        "sourceType"   : "module",
        "ecmaFeatures" : {
            "jsx": true
        }
    },
    "env": { 
        "es6"     : true,
        "browser" : true
    },
    "rules": {
        "consistent-return"   : 2,
        "indent"              : [1, 4],
        "no-else-return"      : 1,
        "semi"                : [1, "always"],
        "space-unary-ops"     : 2,
        "no-unused-vars"      : 1,
        "includeExports"      : true,
        "includeImports"      : true,
        "no-duplicate-imports": 1
    }
}